venv/
.venv/
**/__pycache__/
*.pyc
.env
*.log
/data/
地理院DEM/
地理院基本地図/
Jaxa_alos
QGIS/*.qgz
.vscode/
Git_GitHub/

.obsidian/
copilot/
my_note/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.tmp/
pytest-cache-files-*/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/

# Secrets
.env
.env.*
!.env.example


# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Runtime
logs/
*.log

# files
*.qgz
*.sqlite
*.png
*.jpg
*.tiff
*.tif
*.pdf
*.zip




# ChatGPT/Gemini Exportの生データは管理しない
# ChatLogs/**/files/
# ChatLogs/*_Export/**ng
# ChatLogs/conversations.json
